.deps
*~
*.o
*.log
*.status
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build.h
compile
config.h
config.h.in
configure
depcomp
install-sh
mcsender
missing
smcroute
smcroute.service
stamp-h1
unittest
